.container {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'SDSamliphopangche_Basic', sans-serif;
}
/* 
.desc_container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.new_matching_container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new_matching_text {
    height: 50px;
    font-size: 25px;
}