.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    /* align-items: center; */
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 85vw;
    height: 85vh;
}

.text {
    font-size: 20px;
    margin: 20px;
    align-self: center;
}

.button_container {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: aqua;
}