.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 85vw;
    height: 85vh;
}

.list {
    overflow:hidden auto;
}

.text {
    font-size: 30px;
    margin: 20px;
    align-self: center;
}

.content_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.date_text {
    font-size: 18px;
    font-weight: bold;
    color: rgb(110,165,254);
}
.date_text_waiting {
    font-size: 18px;
    font-weight: bold;
    color: gray;
}

.diff_text {
    font-size: 12px;
    color: gray;
}
.diff_text_waiting {
    font-size: 12px;
    color: gray;
}

.content_button {
    width: 60%;
    align-self: center;
    margin: 5px;
}

.modal {
    font-family: 'SDSamliphopangche_Basic', sans-serif;
}

.waiting {
    background-color: rgb(217,217,217,0.3);
    /* opacity: 0.3; */
    /* color: white; */
}